<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatAgent</title>
    {% load static %}
    {% include "navbar.html" %}
</head>

<body>

    <section>
        <div class="welcome">
            <h1 class='weltxt'>WELCOME</h1>
            <p>
                Chatbots have become popular in the past few years as businesses discover innovative ways to put them to use. Having a Chatbot today has numerous benefits for businesses – they make life easier for customers, are available 24/7, save time and they are easy to use.
            </p>
            <p>
                We have a chatbot integrated with two different messenger APIs:<br>&nbsp;&nbsp;1. Google's Dialogflow Messenger API<br>&nbsp;&nbsp;2: Kommunication Messenger Interface
            </p>
            <p>Find the chat icons on bottom-right and bottom-left corner of the page.</p>
            <h5>Have fun interacting</h5>
        </div>
    </section>

</body>

</html>